BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AlignTrailingComments: true
AlignConsecutiveDeclarations: false
BreakBeforeBraces: Attach
AccessModifierOffset: -4

IncludeBlocks: Regroup
SortIncludes: true